server {
    server_name {{ vhost_server_name }};

    location / {
        proxy_set_header X-Scheme $scheme;
        proxy_pass {{ vhost_backend_location }};
        proxy_redirect off;
        include proxy_params;
    }

    # Events
    location /events {
        proxy_pass {{ vhost_backend_location }}/events;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_connect_timeout 7d;
        proxy_send_timeout 7d;
        proxy_read_timeout 7d;
      }
}
